# Ignore the virtual environment
.venv/

# Ignore datasets (GitHub will block you if files are too big)
data

# Ignore Python cache files
__pycache__/
.ipynb_checkpoints/

#Ignore database
database

outputs

src